ADMIN_EMAIL=
ALPHASMS_API_KEY=
BULKSMSBD_API_KEY=
DATABASE_URL=
GEMINI_API_KEY=
GREENWEB_SMS_TOKEN=
JWT_SECRET=
PAYMENTLY_API_KEY=
PAYMENTLY_BASE_URL=
PAYMENTLY_KEY=
SMS_API_KEY=
SMS_GATEWAY_URL=
SMS_PROVIDER=
SMS_SENDER_ID=
SMS_USERNAME=
STORE_BASE_DOMAIN=
UDDOKTAPAY_API_KEY=
UDDOKTAPAY_BASE_URL=
VITE_API_URL=